html {
    box-sizing: border-box;
    font-size: 62.5%; /*1rem = 10px*/
}
  *, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: 'Raleway', sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
   
}

h1,h2,h3 {
    font-family: 'Playfair Display', serif;
    margin: 5rem 0 5rem 0;
}

h1 {
    font-size: 5rem;
}

h2 {
    font-size: 3rem;
}

h3 {
    font-size: 3rem;
}

/*Global Selectors*/
a {
    color: #000000;
    text-decoration: none;
    text-transform: capitalize;
}

.container {
    max-width: 120rem; 
    margin: 0 auto;
}

img {
    max-width: 100%;
    display: block;
}

/*Nav & Header Selectors*/
/*Selectores descendientes*/
.main-title {
    text-align: center;
}

.main-title span {
    color: rgb(3 111 185);
}

.container-nav{
    border-top: 1px solid #948f8f;
}

.main-nav{
    padding: 2rem 0;
    display: flex;
    justify-content: space-between;
}

.hero {
    background-image: url(../img/principal.jpg);
    height: 50rem;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%;
    background-position: center center;
}

/*categories*/

.category h2{
    text-align: center;
}

.list-category{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 2rem;
    column-gap: 2.5rem;
}

.box-category a{
    padding: 1rem 0;
    font-size: 2rem;
    display: block;
    text-align: center;
    background-color: #036fb9;
    color: #fff;
    border-bottom-right-radius: 1rem;
    border-bottom-left-radius: 1rem;

}

.box-category a:hover{
    background-color: #023353;
    color: #fff;
}

/*About us*/